#captcha{
    border-width: 1px;
    border-color: black;
}


.background-color{
    height: 80%;
    width: 100%;
    background-color: beige;
    background-image: linear-gradient(to bottom left,#d6315d,purple,#0f097d);
    color:white;
}
.grade{
    height: 80%;
    width: 80%;
    background-color: rgba(0,0,0,0.75);
    border-radius: 30px;
}
shaan{
    background-color: #d6315d;
}